# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Android
android/local.properties
android/key.properties
android/app/src/main/res/values/google-services.json # If using Firebase/Secrets

# iOS
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*

# IDEs
.idea/
.vscode/
*.iml

# Symbols
*.pdb
*.db